<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div >
    <div class="input row texto-search">
      <i class="fa fa-user icon"></i>
        <input
          type="text"
          id="socio-buscar"
          class="form-control rounded-pill"
          placeholder="Buscar socio de negocio ..."
        />
    </div>

    <div class="card-group rounded" id="grupo" >
        <div  class="row card size-card rounded" *ngFor="let socio of socios">
          <div tabindex="0" class="card-body">
            <p tabindex="0" class="card-title h5">{{socio.nombre}}</p>
            <p tabindex="0" class="card-subtitle mb-2 text-muted h6">{{socio.apellido}}</p>
            <br>
            <p tabindex="0" class="card-text">{{socio.detalle}}</p>
            <p tabindex="0" class="position-absolute bottom-0 end-0">
              <a href="#" class="btn btn-details mt-5 rounded-pill" routerLink="/socio/{{socio.id}}">Ver detalle</a>
            </p>           
           </div>
        </div>
    </div>


    <button type="submit" routerLink="/socio" class="row btn btn-add mt-5 rounded-circle position-absolute bottom-0 end-0">+</button>

  </div> 

  <script>
    $(document).ready(function(){
      $("#socio-buscar").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#grupo *").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
</body>

