<div class="background-sportapp-menu">
  <div class="position-relative">
    <h1>SportApp Admin</h1>
    <ul class="list-group list-group-flush">
      <li
        *ngFor="let item of menuItems; index as i"
        [ngClass]="[
          'list-group-item no-backgorund',
          item.esSeparador ? 'border-bottom-item' : '',
          item.esTitulo ? 'titulo-menu' : '',
          itemSeleccionado === item.llave ? 'item-seleccionado' : ''
        ]"
      >
        <i [class]="item.esTitulo ? '' : item.icon"></i>&nbsp;&nbsp;&nbsp;{{
          item.descripcion
        }}
      </li>
    </ul>
  </div>
</div>
