.background-sportapp-menu{
    width: 100%;
    height: 100vh;
    background-color: var(--BlueGreen-3);
}

.no-backgorund{
    background-color: var(--BlueGreen-3);
}

.border-bottom-item {
    border-bottom-color: gray;
}

.titulo-menu {
    font-size: 1.5rem;
}

.item-seleccionado {
    background-color: var(--BlueGreen-6);
}