<app-toast mensajeError="{{responseMessage}}" [mostrarToast]=responseError class="d-flex justify-content-center"></app-toast>
<div class="center-element">
  <form
    class="form-size size-form-register"
    [formGroup]="socioForm"
    (ngSubmit)="actualizarSocio(socioForm.value,socioId)"
  >
    <div class="container text-center">
      <h1>{{'partner' | translate}}</h1>
      <div class="row mb-3 mt-5">
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Nombres"
              formControlName="nombre"
              value="{{ detalleSocio.nombre }}"
            />
            <label for="name">{{'name' | translate}}</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Apellidos"
              formControlName="apellido"
              value="{{ detalleSocio.apellido }}"
            />
            <label for="lastname">{{'apellidos' | translate}}</label>
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="Usuario"
              formControlName="username"
              value="{{ detalleSocio.username }}"
            />
            <label for="username">{{'username' | translate}}</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="E-mail"
              formControlName="email"
              value="{{ detalleSocio.email }}"
            />
            <label for="email">{{'email' | translate}}</label>
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-3" hidden>
        <div class="col">
          <div class="form-group col">
            <label for="documentType">Seleccione...</label>
            <select
              id="documentType"
              class="form-control"
              formControlName="tipo_identificacion"
              value="{{ detalleSocio.tipo_identificacion }}"
            >
              <option selected disabled>Seleccione...</option>
              <option>CC</option>
              <option>TI</option>
            </select>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                socioForm.get('tipo_identificacion')!.value=='' &&
                socioForm.get('tipo_identificacion')!.touched
              "
            >
            Se requiere el tipo de identificación
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="identification"
              placeholder="Número de identificación"
              formControlName="numero_identificacion"
              value="{{ detalleSocio.numero_identificacion }}"
            />
            <label for="identification">Número de identificación</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                socioForm.get('numero_identificacion')!.value=='' &&
                socioForm.get('numero_identificacion')!.touched
              "
            >
              Se requiere el numero de identificación
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-3" hidden>
        <div class="col">
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Contraseña"
              formControlName="password"
              value="{{ detalleSocio.password }}"
            />
            <label for="password">{{'password' | translate}}</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                socioForm.get('password')!.value=='' &&
                socioForm.get('password')!.touched
              "
            >
              Se requiere la contraseña
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="confirmPwd"
              placeholder="Confirmar contraseña"
              value="{{ detalleSocio.password }}"
            />
            <label for="confirmPwd">Confirmar contraseña</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
              
              "
            >
              Se requiere el confirmar el password
            </div>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                
              "
            >
              Las contraseñas deben coincidir
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="detalle"
              placeholder="Detalle"
              formControlName="detalle"
              value="{{ detalleSocio.detalle }}"
            />
            <label for="name">{{'detalle' | translate}}</label>
          </div>
        </div>
      </div>
      <div class="alert alert-success alert-dismissible fade show" *ngIf="exitoso">
        Socio actualizado exitosamente
      </div>
      <div class="row" >
        <div class="col" hidden>
          <button id="guardar" type="submit" [disabled]="!socioForm.valid" class="btn btn-guardar mt-5">
            {{'save' | translate}}
          </button>
        </div>
        <div class="col">
          <button type="button" routerLink="/socios" class="btn btn-cancelar mt-5" data-testid="volver-detalle-socio">
            {{'return' | translate}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
