<div class="center-element">
  <form
    class="form-size"
    [formGroup]="ingresarForm"
    (ngSubmit)="!ingresarForm.invalid && validateUser(ingresarForm.value)"
  >
    <h1 >SportApp</h1>
    <div class="input-group mb-3 mt-5">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="email-input"
          placeholder="Correo"
          formControlName="email"
          i18n-placeholder="correo"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            ingresarForm.get('email')!.hasError('required') &&
            ingresarForm.get('email')!.touched
          "
        >
          {{'usuario-requerido' | translate}}
        </div>
        <div
       class="alert alert-danger alert-dismissible fade show"
       *ngIf="f['email']?.errors?.['email']"
     >
          {{'validacion-correo' | translate}}
     </div>
        <label for="email-input" >{{'usuario' | translate}}</label>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password-input"
          placeholder="Contraseña"
          formControlName="password"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            ingresarForm.get('password')!.hasError('required') &&
            ingresarForm.get('password')!.touched
          "
        >
          {{'contrasenia-requerida' | translate}}
        </div>
        <label for="password-input">{{'contrasenia' | translate}}</label>
      </div>
    </div>
    <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="responseError"
        >
          {{responseMessage}}
      </div>
    <button type="submit" [disabled]="!ingresarForm.valid" class="btn btn-ingresar mt-5" id="btn-submit">{{'ingresar' | translate}}</button>
    <p class="mt-2">
      {{'sin-cuenta' | translate}}
      <a class="link-color-sportapp" routerLink="/registro" href="#">{{'creala' | translate}}</a>
    </p>
  </form>
</div>
