<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" [class.show] = "mostrarToast">
    <div class="toast-header">
        <span class="logo">S</span>
        <strong class="me-auto text-danger">Error</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <span>Ocurrió un error en la aplicación:</span>
      <br>
      <small><strong>{{mensajeError}}</strong></small>
    </div>
</div>