<div class="container">
    <form class="form-size size-form-register">
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="nombre"/>
                <div class="alert alert-danger alert-dismissible fade show"
                     *ngIf="entrenamientoForm.get('nombre')!.hasError('required') && entrenamientoForm.get('nombre')!.touched">
                    Se requiere el usuario
                </div>
            </div>
            <div class="col-6"></div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="nombre"/>
                <div class="alert alert-danger alert-dismissible fade show"
                     *ngIf="entrenamientoForm.get('nombre')!.hasError('required') && entrenamientoForm.get('nombre')!.touched">
                    Se requiere el usuario
                </div>
            </div>
            <div class="col-6"></div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="nombre"/>
                <div class="alert alert-danger alert-dismissible fade show"
                     *ngIf="entrenamientoForm.get('nombre')!.hasError('required') && entrenamientoForm.get('nombre')!.touched">
                    Se requiere el usuario
                </div>
            </div>
            <div class="col-6"></div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="nombre"/>
                <div class="alert alert-danger alert-dismissible fade show"
                     *ngIf="entrenamientoForm.get('nombre')!.hasError('required') && entrenamientoForm.get('nombre')!.touched">
                    Se requiere el usuario
                </div>
            </div>
            <div class="col-6"></div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="nombre"/>
                <div class="alert alert-danger alert-dismissible fade show"
                     *ngIf="entrenamientoForm.get('nombre')!.hasError('required') && entrenamientoForm.get('nombre')!.touched">
                    Se requiere el usuario
                </div>
            </div>
            <div class="col-6"></div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="nombre"/>
                <div class="alert alert-danger alert-dismissible fade show"
                     *ngIf="entrenamientoForm.get('nombre')!.hasError('required') && entrenamientoForm.get('nombre')!.touched">
                    Se requiere el usuario
                </div>
            </div>
            <div class="col-6"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
                <button type="submit" class="btn btn-guardar mt-5">
                    Guardar
                </button>
            </div>
            <div class="col-3">
                <button type="button" routerLink="/entrenamientos" class="btn btn-cancelar mt-5">
                    Cancelar
                </button>
            </div>
            <div class="col-3"></div>
        </div>
    </form>
</div>
