<div class="container">
    <div class="row buscar-entrenamiento-container">
        <app-buscar-entrenamiento (onBuscarEntrenamiento)="onChangeTextoBuscarEntrenamiento($event)"></app-buscar-entrenamiento>
    </div>
    <div class="row lista-entrenamientos-container">
        <app-lista-entrenamientos [textoBuscar]="textoBuscarEntrenamiento"></app-lista-entrenamientos>
    </div>
    <div class="agregar-entrenamiento-container">
        <div class="d-flex align-items-center flex-row-reverse">
            <button type="button" class="btn btn-circle btn-xl" routerLink="/entrenamientos/crear-entrenamiento">+</button>
        </div>
    </div>
</div>