<div class="center-element">
  <form class="form-size">
    <div class="container text-center">
      <h1>Registro</h1>
      <div class="row">
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Nombres"
            />
            <label for="name">Nombres</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Apellidos"
            />
            <label for="lastname">Apellidos</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="lastname"
                  placeholder="Usuario"
                />
                <label for="lastname">Usuario</label>
              </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
        </div>
        <div class="col">
          <button type="button" class="btn btn-guardar mt-5">
            Perfil deportivo
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a class="link-color-sportapp" href="#"
            >Ver detalles y recomendaciones de suscripción
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-guardar mt-5">
            Crear cuenta
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-cancelar mt-5">Cancelar</button>
        </div>
      </div>
    </div>
  </form>
</div>
