<div class="center-element">
  <form class="form-size">
    <h1>SportApp</h1>
    <div class="input-group mb-3 mt-5">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInputGroup1"
          placeholder="Usuario"
        />
        <label for="floatingInputGroup1">Usuario</label>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInputGroup1"
          placeholder="password"
        />
        <label for="floatingInputGroup1">Contraseña</label>
      </div>
    </div>
    <button type="submit" class="btn btn-ingresar mt-5">Ingresar</button>
    <p class="mt-2">
      ¿No tienes una cuenta? <a class="link-color-sportapp" href="#">Creala aquí</a>
    </p>
  </form>
</div>
