<div class="center-element">
  <form
    class="form-size size-form-register"
    [formGroup]="socioForm"
    (ngSubmit)="!socioForm.invalid && registrarSocio(socioForm.value)"
  >
    <div class="container text-center">
      <h1>{{'partner' | translate}}</h1>
      <div class="row mb-3 mt-5">
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Nombres"
              formControlName="nombre"
            />
            <label for="name">{{'name' | translate}}</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                socioForm.get('nombre')!.hasError('required') &&
                socioForm.get('nombre')!.touched
              "
            >
            {{'nombre-requerido' | translate}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Apellidos"
              formControlName="apellido"
            />
            <label for="lastname">{{'apellidos' | translate}}</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                socioForm.get('apellido')!.hasError('required') &&
                socioForm.get('apellido')!.touched
              "
            >
              {{'apellido-requerido' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="Usuario"
              formControlName="username"
            />
            <label for="username">{{'username' | translate}}</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                socioForm.get('username')!.hasError('required') &&
                socioForm.get('username')!.touched
              "
            >
            {{'username-requerido' | translate}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="E-mail"
              formControlName="email"
            />
            <label for="email">{{'email' | translate}}</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                socioForm.get('email')!.hasError('required') &&
                socioForm.get('email')!.touched
              "
            >
            {{'email-requerido' | translate}}
            </div>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="f['email']?.errors?.['email']"
            >
            {{'email-formato' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col">
          <div class="form-group col">
            <label for="documentType">{{'tipo-identificacion' | translate}}</label>
            <select
              id="documentType"
              class="form-control"
              formControlName="tipo_identificacion"
            >
              <option selected disabled>{{'seleccione' | translate}}</option>
              <option>CC</option>
              <option>TI</option>
            </select>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                socioForm.get('tipo_identificacion')!.hasError('required') &&
                socioForm.get('tipo_identificacion')!.touched
              "
            >
              {{'id-requerido' | translate}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="identification"
              placeholder="Número de identificación"
              formControlName="numero_identificacion"
            />
            <label for="identification">{{'id' | translate}}</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                socioForm.get('numero_identificacion')!.hasError('required') &&
                socioForm.get('numero_identificacion')!.touched
              "
            >
            {{'numero-id-requerido' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col">
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Contraseña"
              formControlName="password"
            />
            <label for="password">{{'password' | translate}}</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                socioForm.get('password')!.hasError('required') &&
                socioForm.get('password')!.touched
              "
            >
            {{'contrasenia-requerida' | translate}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="confirmPwd"
              placeholder="Confirmar contraseña"
              formControlName="confirmPwd"
            />
            <label for="confirmPwd">{{'confirmar.contrasenia' | translate}}</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                socioForm.get('confirmPwd')!.hasError('required') &&
                socioForm.get('confirmPwd')!.touched
              "
            >
            
            {{'contrasenia-requerida' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                socioForm.hasError('nomatch') &&
                socioForm.get('password')!.touched &&
                socioForm.get('confirmPwd')!.touched
              "
            >
            {{'contrasenia-no-coincide' | translate}}
            </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="detalle"
              placeholder="Detalle"
              formControlName="detalle"
            />
            <label for="name">{{'detalle' | translate}}</label>
          </div>
        </div>
      </div>
      <div class="alert alert-success alert-dismissible fade show" *ngIf="exitoso">
        {{'socio-creado' | translate}}
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" [disabled]="!socioForm.valid" class="btn btn-guardar mt-5">
            {{'save' | translate}}
          </button>
        </div>
        <div class="col">
          <button type="button" routerLink="/socios" class="btn btn-cancelar mt-5">
            {{'cancel' | translate}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
