<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="search">
                <input 
                    type="text"
                    id="evento-buscar"
                    class="form-control rounded-pill icon-rtl"
                    [placeholder]="'buscar.eventos' | translate"
                    [(ngModel)]="eventoBusqueda"
                    (input)="buscarEvento($event)"
                />
            </div>
        </div>
        <div class="col-3">
            <select class="form-control" (change)="cambiarTipoEvento($event)" data-testid="select-eventos">
                <option value="DEPORTISTA">{{'eventos-deportista' | translate}}</option>
                <option value="PROXIMOS">{{'eventos-proximos-fecha' | translate}}</option>
                <option value="CERCANOS">{{'eventos-cercanos-ubicacion' | translate}}</option>
            </select>
        </div>
        <div class="col-2"></div>
    </div>
    
</div>
