<div class="center-element">
    <form class="form-size size-form-perfil-deportivo"
          [formGroup]="perfilForm"
          (ngSubmit)="!perfilForm.invalid && guardarPerfil(perfilForm.value)">
        <div class="container text-center">
            <h1>{{'perfil-deportivo' | translate}}</h1>
            <div class="row mb-3 mt-5">
                <div class="col-3">
                    <div class="form-group col">
                        <label for="genero">{{'genero' | translate}}</label>
                        <select
                                id="genero"
                                class="form-control"
                                formControlName="genero"
                        >
                            <option selected disabled>{{'seleccionar' | translate}}</option>
                            <option>{{'masculino' | translate}}</option>
                            <option>{{'femenino' | translate}}</option>
                            <option>{{'otro' | translate}}</option>
                        </select>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                perfilForm.get('genero')!.hasError('required') &&
                perfilForm.get('genero')!.touched">
                            {{'genero-requerido' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating">
                        <input
                                type="text"
                                class="form-control"
                                id="edad"
                                placeholder="Edad"
                                formControlName="edad"
                        />
                        <label for="edad">{{'edad-anios' | translate}}</label>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                                    perfilForm.get('edad')!.hasError('required') &&
                                    perfilForm.get('edad')!.touched">
                            {{'edad-requerida' | translate}}
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                            *ngIf="perfilForm.get('edad')!.hasError('min') && perfilForm.get('edad')!.touched">
                            {{'edad-minima' | translate}}
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                            *ngIf="perfilForm.get('edad')!.hasError('max') && perfilForm.get('edad')!.touched">
                            {{'edad-maxima' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating">
                        <input
                                type="text"
                                class="form-control"
                                id="peso"
                                placeholder="Peso"
                                formControlName="peso"
                        />
                        <label for="peso">{{'peso-kg' | translate}}</label>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                                    perfilForm.get('peso')!.hasError('required') &&
                                    perfilForm.get('peso')!.touched">
                            {{'peso-requerido' | translate}}
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                            *ngIf="perfilForm.get('peso')!.hasError('min') && perfilForm.get('peso')!.touched">
                            {{'peso-minimo' | translate}}
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                            *ngIf="perfilForm.get('peso')!.hasError('max') && perfilForm.get('peso')!.touched">
                            {{'peso-maximo' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating">
                        <input
                                type="text"
                                class="form-control"
                                id="altura"
                                placeholder="Altura"
                                formControlName="altura"
                        />
                        <label for="altura">{{'altura-cm' | translate}}</label>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                                    perfilForm.get('altura')!.hasError('required') &&
                                    perfilForm.get('altura')!.touched">
                            {{'altura-requerida' | translate}}
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                            *ngIf="perfilForm.get('altura')!.hasError('min') && perfilForm.get('altura')!.touched">
                            {{'altura-minima' | translate}}
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                            *ngIf="perfilForm.get('altura')!.hasError('max') && perfilForm.get('altura')!.touched">
                            {{'altura-maxima' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 mt-3">
                <div class="col">
                    <div class="form-group col">
                        <label for="paisNacimiento">{{'pais-nacimiento' | translate}}</label>
                        <select
                                id="paisNacimiento"
                                class="form-control"
                                formControlName="pais_nacimiento"
                                (change)="obtenerCiudadesNacimiento($any($event.target)?.value)"
                        >
                            <option selected disabled>{{'seleccionar' | translate}}</option>
                            <option *ngFor="let pais of paises; index as i" [value]="pais['codigo']">{{pais["nombre"]}}</option>
                        </select>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                perfilForm.get('pais_nacimiento')!.hasError('required') &&
                perfilForm.get('pais_nacimiento')!.touched">
                            {{'pais-nacimiento-requerido' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group col">
                        <label for="ciudadNacimiento">{{'ciudad-nacimiento' | translate}}</label>
                        <select
                                id="ciudadNacimiento"
                                class="form-control"
                                formControlName="ciudad_nacimiento"
                        >
                            <option selected disabled>Seleccione...</option>
                            <option *ngFor="let ciudad of ciudadesNacimiento; index as i" [value]="ciudad['codigo']">{{ciudad["nombre"]}}</option>
                        </select>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                perfilForm.get('ciudad_nacimiento')!.hasError('required') &&
                perfilForm.get('ciudad_nacimiento')!.touched">
                            {{'ciudad-nacimiento-requerida' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 mt-3">
                <div class="col">
                    <div class="form-group col">
                        <label for="paisResidencia">{{'pais-residencia' | translate}}</label>
                        <select
                                id="paisResidencia"
                                class="form-control"
                                formControlName="pais_residencia"
                                (change)="obtenerCiudadesResidencia($any($event.target)?.value)"
                        >
                            <option selected disabled>{{'seleccionar' | translate}}</option>
                            <option *ngFor="let pais of paises; index as i" [value]="pais['codigo']">{{pais["nombre"]}}</option>
                        </select>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                perfilForm.get('pais_residencia')!.hasError('required') &&
                perfilForm.get('pais_residencia')!.touched">
                            {{'pais-residencia-requerido' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group col">
                        <label for="ciudadResidencia">{{'ciudad-residencia' | translate}}</label>
                        <select
                                id="ciudadResidencia"
                                class="form-control"
                                formControlName="ciudad_residencia"
                        >
                            <option selected disabled>{{'seleccionar' | translate}}.</option>
                            <option *ngFor="let ciudad of ciudadesResidencia; index as i" [value]="ciudad['codigo']">{{ciudad["nombre"]}}</option>
                        </select>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                perfilForm.get('ciudad_residencia')!.hasError('required') &&
                perfilForm.get('ciudad_residencia')!.touched">
                            {{'ciudad-residencia-requerida' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 mt-3">
                <div class="col-6">
                    <div class="form-floating">
                        <input
                                type="text"
                                class="form-control"
                                id="antiguedad"
                                placeholder="Antigüedad"
                                formControlName="antiguedad_residencia"
                        />
                        <label for="antiguedad">{{'antiguedad-residencia' | translate}}</label>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                                    perfilForm.get('antiguedad_residencia')!.hasError('required') &&
                                    perfilForm.get('antiguedad_residencia')!.touched">
                            {{'antiguedad-residencia-requerida' | translate}}
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                            *ngIf="perfilForm.get('antiguedad_residencia')!.hasError('min') && perfilForm.get('antiguedad_residencia')!.touched">
                            {{'antiguedad-residencia-minima' | translate}}
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                            *ngIf="perfilForm.get('antiguedad_residencia')!.hasError('max') && perfilForm.get('antiguedad_residencia')!.touched">
                            {{'antiguedad-residencia-maxima' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 mt-5">
                <div class="col-3">
                    <div class="form-group col">
                        <label for="tipoSangre">{{'tipo-sangre' | translate}}</label>
                        <select
                                id="tipoSangre"
                                class="form-control"
                                formControlName="tipo_sangre"
                        >
                            <option selected disabled>{{'seleccionar' | translate}}</option>
                            <option>O+</option>
                            <option>O-</option>
                            <option>A+</option>
                            <option>A-</option>
                            <option>AB+</option>
                            <option>AB-</option>
                        </select>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                perfilForm.get('tipo_sangre')!.hasError('required') &&
                perfilForm.get('tipo_sangre')!.touched">
                            {{'tipo-sangre-requerido' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating">
                        <input
                                type="text"
                                class="form-control"
                                id="imc"
                                placeholder="IMC"
                                formControlName="imc"
                        />
                        <label for="imc">{{'imc' | translate}}</label>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                                    perfilForm.get('imc')!.hasError('required') &&
                                    perfilForm.get('imc')!.touched">
                            {{'imc-requerido' | translate}}
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                            *ngIf="perfilForm.get('imc')!.hasError('min') && perfilForm.get('imc')!.touched">
                            {{'imc-minimo' | translate}}
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                            *ngIf="perfilForm.get('imc')!.hasError('max') && perfilForm.get('imc')!.touched">
                            {{'imc-maximo' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating">
                        <input
                                type="text"
                                class="form-control"
                                id="horasEjercicio"
                                placeholder="Horas ejercicio por semana"
                                formControlName="horas_semanal"
                        />
                        <label for="horasEjercicio">{{'ejercicio-por-semana-horas' | translate}}</label>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                                    perfilForm.get('horas_semanal')!.hasError('required') &&
                                    perfilForm.get('horas_semanal')!.touched">
                            {{'ejercicio-por-semana-horas-requerido' | translate}}
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                            *ngIf="perfilForm.get('horas_semanal')!.hasError('min') && perfilForm.get('horas_semanal')!.touched">
                            {{'horas-semanal-minimo' | translate}}
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                            *ngIf="perfilForm.get('horas_semanal')!.hasError('max') && perfilForm.get('horas_semanal')!.touched">
                            {{'horas-semanal-maximo' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating">
                        <input
                                type="text"
                                class="form-control"
                                id="pesoObjetivo"
                                placeholder="Peso objetivo"
                                formControlName="peso_objetivo"
                        />
                        <label for="pesoObjetivo">{{'peso-objetivo' | translate}}</label>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                                    perfilForm.get('peso_objetivo')!.hasError('required') &&
                                    perfilForm.get('peso_objetivo')!.touched">
                            {{'peso-objetivo-requerido' | translate}}
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                            *ngIf="perfilForm.get('peso_objetivo')!.hasError('min') && perfilForm.get('peso_objetivo')!.touched">
                            {{'peso-objetivo-minimo' | translate}}
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                            *ngIf="perfilForm.get('peso_objetivo')!.hasError('max') && perfilForm.get('peso_objetivo')!.touched">
                            {{'peso-objetivo-maximo' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 mt-3">
                <div class="col">
                    <div class="form-floating">
                        <input
                                type="text"
                                class="form-control"
                                id="alergias"
                                placeholder="Alergias"
                                formControlName="alergias"
                        />
                        <label for="alergias">{{'alergias' | translate}}</label>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                perfilForm.get('alergias')!.hasError('required') &&
                perfilForm.get('alergias')!.touched">
                            {{'alergias-requerido' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group col">
                        <label for="deporte">{{'deporte' | translate}}</label>
                        <select
                                id="deporte"
                                class="form-control"
                                formControlName="deporte"
                        >
                            <option selected disabled>{{'seleccionar' | translate}}</option>
                            <option>Ciclismo</option>
                            <option>Atletismo</option>
                        </select>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                perfilForm.get('deporte')!.hasError('required') &&
                perfilForm.get('deporte')!.touched">
                            {{'deporte-requerido' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating">
            <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="preferenciaAlimenticia"
                    formControlName="preferencia_alimenticia"
            ></textarea>
                        <label for="preferenciaAlimenticia">{{'preferencia-alimentaria' | translate}}</label>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                perfilForm.get('preferencia_alimenticia')!.hasError('required') &&
                perfilForm.get('preferencia_alimenticia')!.touched">
                            {{'preferencia-alimentaria-requerido' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating">
            <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="planNutricional"
                    formControlName="plan_nutricional"
            ></textarea>
                        <label for="planNutricional">{{'plan-nutricional' | translate}}</label>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                perfilForm.get('plan_nutricional')!.hasError('required') &&
                perfilForm.get('plan_nutricional')!.touched">
                            {{'plan-nutricional-requerido' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating">
            <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="historiaClinica"
                    formControlName="url_historia_clinica"
            ></textarea>
                        <label for="historiaClinica">{{'historia-clinica' | translate}}</label>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                *ngIf="
                perfilForm.get('url_historia_clinica')!.hasError('required') &&
                perfilForm.get('url_historia_clinica')!.touched">
                            {{'historia-clinica-requerido' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <button type="submit" [disabled]="!perfilForm.valid" class="btn btn-guardar mt-5">
                        {{'guardar' | translate}}
                    </button>
                </div>
                <div class="col-3">
                    <button type="button" (click)="cancelarPerfil()" class="btn btn-cancelar mt-5">
                        {{'cancelar' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
