<div class="center-element">
  <form class="form-size size-form-perfil-deportivo">
    <div class="container text-center">
      <h1>Perfil deportivo</h1>
      <div class="row mb-3 mt-5">
        <div class="col-3">
          <div class="form-group col">
            <label for="documentType">Género</label>
            <select
              id="documentType"
              class="form-control"
              formControlName="tipo_identificacion"
            >
              <option selected disabled>Seleccione...</option>
              <option>Masculino</option>
              <option>Femenino</option>
              <option>Otro</option>
            </select>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Apellidos"
              formControlName="apellido"
            />
            <label for="lastname">Edad (años)</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Apellidos"
              formControlName="apellido"
            />
            <label for="lastname">Peso (kg)</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Apellidos"
              formControlName="apellido"
            />
            <label for="lastname">Altura (cm)</label>
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col">
          <div class="form-group col">
            <label for="documentType">País de nacimiento</label>
            <select
              id="documentType"
              class="form-control"
              formControlName="tipo_identificacion"
            >
              <option selected disabled>Seleccione...</option>
              <option>Colombia</option>
              <option>Venezuela</option>
              <option>Argentina</option>
              <option>Brasil</option>
              <option>Uruguay</option>
              <option>Paraguay</option>
              <option>Chile</option>
              <option>Ecuador</option>
              <option>Peru</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group col">
            <label for="documentType">Ciudad de nacimiento</label>
            <select
              id="documentType"
              class="form-control"
              formControlName="tipo_identificacion"
            >
              <option selected disabled>Seleccione...</option>
              <option>Bogota</option>
              <option>Lima</option>
              <option>La paz</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col">
          <div class="form-group col">
            <label for="documentType">País de residencia</label>
            <select
              id="documentType"
              class="form-control"
              formControlName="tipo_identificacion"
            >
            <option selected disabled>Seleccione...</option>
            <option>Colombia</option>
            <option>Venezuela</option>
            <option>Argentina</option>
            <option>Brasil</option>
            <option>Uruguay</option>
            <option>Paraguay</option>
            <option>Chile</option>
            <option>Ecuador</option>
            <option>Peru</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group col">
            <label for="documentType">Ciudad de residencia</label>
            <select
              id="documentType"
              class="form-control"
              formControlName="tipo_identificacion"
            >
              <option selected disabled>Seleccione...</option>
              <option>Bogota</option>
              <option>Lima</option>
              <option>La paz</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col-6">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Apellidos"
              formControlName="apellido"
            />
            <label for="lastname">Antigüedad de residencia</label>
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-5">
        <div class="col-3">
          <div class="form-group col">
            <label for="documentType">Tipo de sangre</label>
            <select
              id="documentType"
              class="form-control"
              formControlName="tipo_identificacion"
            >
              <option selected disabled>Seleccione...</option>
              <option>O+</option>
              <option>O-</option>
              <option>A+</option>
              <option>A-</option>
              <option>AB+</option>
              <option>AB-</option>
            </select>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Apellidos"
              formControlName="apellido"
            />
            <label for="lastname">IMC</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Apellidos"
              formControlName="apellido"
            />
            <label for="lastname">Ejercicio por semana (Horas)</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Apellidos"
              formControlName="apellido"
            />
            <label for="lastname">Peso objetivo</label>
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Usuario"
              formControlName="username"
            />
            <label for="lastname">Alergías</label>
          </div>
        </div>
        <div class="col">
          <div class="form-group col">
            <label for="documentType">Deporte</label>
            <select
              id="documentType"
              class="form-control"
              formControlName="tipo_identificacion"
            >
              <option selected disabled>Seleccione...</option>
              <option>Ciclismo</option>
              <option>Atletismo</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="floatingTextarea"
            ></textarea>
            <label for="floatingTextarea">Preferencia alimenticia</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="floatingTextarea"
            ></textarea>
            <label for="floatingTextarea">Plan nutricional</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="floatingTextarea"
            ></textarea>
            <label for="floatingTextarea">Historia clínica deportiva</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
          <div class="col-3">
          <button type="submit" class="btn btn-guardar mt-5">
            Guardar
          </button>
        </div>
        <div class="col-3">
          <button type="button" routerLink="/" class="btn btn-cancelar mt-5">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
