<app-toast mensajeError="{{responseMessage}}" [mostrarToast]=responseError class="d-flex justify-content-end"></app-toast>
<div class="center-element">
  <form
    class="form-size size-form-register"
    [formGroup]="registroForm"
    (ngSubmit)="!registroForm.invalid && registrarUsuario(registroForm.value)"
  >
    <div class="container text-center">
      <h1>{{'registro' | translate}}</h1>
      <div class="row mb-3 mt-5">
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Nombres"
              formControlName="nombre"
            />
            <label for="name">{{'nombre' | translate}}</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              data-testid="alerta-nombre"
              *ngIf="
                registroForm.get('nombre')!.hasError('required') &&
                registroForm.get('nombre')!.touched
              "
            >
            {{'nombre-requeridos' | translate}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Apellidos"
              formControlName="apellido"
            />
            <label for="lastname">{{'apellido' | translate}}</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              data-testid="alerta-apellido"
              *ngIf="
                registroForm.get('apellido')!.hasError('required') &&
                registroForm.get('apellido')!.touched
              "
            >
            {{'apellido-requerido' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="Usuario"
              formControlName="username"
            />
            <label for="lastname">{{'usuario' | translate}}</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              data-testid="alerta-username"
              *ngIf="
                registroForm.get('username')!.hasError('required') &&
                registroForm.get('username')!.touched
              "
            >
            {{'usuario-requerido' | translate}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="E-mail"
              formControlName="email"
            />
            <label for="email">{{'email' | translate}}</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              data-testid="alerta-email"
              *ngIf="
                registroForm.get('email')!.hasError('required') &&
                registroForm.get('email')!.touched
              "
            >
              {{'email-requerido' | translate}}
            </div>
            <div
              class="alert alert-danger alert-dismissible fade show"
              data-testid="alerta-email-formato"
              *ngIf="f['email']?.errors?.['email']"
            >
            {{'email-formato' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col">
          <div class="form-group col">
            <label for="documentType">{{'tipo-identificacion' | translate}}</label>
            <select
              id="documentType"
              class="form-control"
              formControlName="tipo_identificacion"
              data-testid="tipoIdenficacion"
            >
              <option selected disabled>{{'seleccionar' | translate}}.</option>
              <option>CC</option>
              <option>TI</option>
            </select>
            <div
              class="alert alert-danger alert-dismissible fade show"
              data-testid="alerta-tipo-identificacion"
              *ngIf="
                registroForm.get('tipo_identificacion')!.hasError('required') &&
                registroForm.get('tipo_identificacion')!.touched
              "
            >
            {{'tipo-identificacion-requerido' | translate}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="identification"
              placeholder="Número de identificación"
              formControlName="numero_identificacion"
            />
            <label for="identification">{{'numero-identificacion' | translate}}</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              data-testid="alerta-numero-identificacion"
              *ngIf="
                registroForm.get('numero_identificacion')!.hasError('required') &&
                registroForm.get('numero_identificacion')!.touched
              "
            >
            {{'numero-identificacion-requerido' | translate}}
            </div>
          </div>
        </div>
      </div>
      <app-ubicacion (onSeleccionarDireccion)="onSeleccionarDireccion($event)"></app-ubicacion>
      <div class="row mb-3 mt-3">
        <div class="col">
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Contraseña"
              formControlName="password"
            />
            <label for="password">{{'contrasenia' | translate}}</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              data-testid="alerta-password"
              *ngIf="
                registroForm.get('password')!.hasError('required') &&
                registroForm.get('password')!.touched
              "
            >
            {{'contrasenia-requerida' | translate}}
            </div>
            <div
              class="alert alert-danger alert-dismissible fade show"
              data-testid="alerta-password-min"
              *ngIf="
                registroForm.get('password')!.hasError('minlength') &&
                registroForm.get('password')!.touched
              "
            >
            {{'contrasenia-formato' | translate}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="confirmPwd"
              placeholder="Confirmar contraseña"
              formControlName="confirm_password"

            />
            <label for="confirmPwd">{{'confirmacion-contrasenia' | translate}}</label>
            <div
              class="alert alert-danger alert-dismissible fade show"
              data-testid="alerta-confirmar-password"
              *ngIf="
                registroForm.get('confirm_password')!.hasError('required') &&
                registroForm.get('confirm_password')!.touched
              "
            >
            {{'confirmacion-contrasenia-requerida' | translate}}
            </div>
            <div
              class="alert alert-danger alert-dismissible fade show"
              data-testid="alerta-confirmar-password-min"
              *ngIf="
                registroForm.get('confirm_password')!.hasError('minlength') &&
                registroForm.get('confirm_password')!.touched
              "
            >
            {{'contrasenia-formato' | translate}}
          </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div
              class="alert alert-danger alert-dismissible fade show"
              data-testid="alerta-password-match"
              *ngIf="
                registroForm.hasError('nomatch') &&
                registroForm.get('password')!.touched &&
                registroForm.get('confirm_password')!.touched
              "
            >
            {{'contrasenia-iguales' | translate}}
            </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col">
          <div class="form-group col">
            <label for="suscription">{{'suscripcion' | translate}}</label>
            <select
              id="suscription"
              class="form-control"
              formControlName="suscripcion"
              data-testid="suscripcion"
            >
              <option selected disabled>Seleccione...</option>
              <option *ngFor="let plan of planes; index as i" [value] = "plan['id']">{{plan['nombre']}}</option>
            </select>
            <div
              class="alert alert-danger alert-dismissible fade show"
              data-testid="alerta-suscripcion"
              *ngIf="
                registroForm.get('suscripcion')!.hasError('required') &&
                registroForm.get('suscripcion')!.touched
              "
            >
            {{'suscripcion-requerida' | translate}}
            </div>
          </div>
        </div>
        <div class="col">
          <button type="button" class="btn btn-guardar mt-3" (click) = abrirPerfilDeportivo()>
            {{'perfil-deportivo' | translate}}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a class="link-color-sportapp" href="#" routerLink="/suscripciones"
            >{{'ver-detalles-suscripcion' | translate}}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="mostrarErrorPerfilDeportivo"
            >
              {{'perfil-deportivo-requerido' | translate}}
            </div>
      </div>
      <div class="row">
        <div class="alert alert-success alert-dismissible fade show"
              *ngIf="mostrarUsuarioRegistrado"
              data-testid="exitoRegistro"
            >
            {{'usuario-registro-exitoso' | translate}}
            </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" [disabled]="!registroForm.valid || (selectedPlace == undefined || selectedPlace.id == '')" class="btn btn-guardar mt-5">
            {{'crear-cuenta' | translate}}
          </button>
        </div>
        <div class="col">
          <button type="button" routerLink="/" class="btn btn-cancelar mt-5">
            {{'cancelar' | translate}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>