---
    name: Despliegue de aplicaci贸n web
    on: 
        push:
            branches: 
              - develop
    jobs:
        desplegar-aplicacion-web:
            name: 'Despliegue de aplicaci贸n web'
            runs-on: ubuntu-latest
            env:
                IMAGE_NAME: web
                PROJECT_ID: sportapp-grupo2
                LOCATION: us-east1
                REPOSITORY: sport-app
            steps:
            - name: Checkout Repo
              uses: actions/checkout@v2
            - name: Autenticaci贸n de Google
              id: auth
              uses: google-github-actions/auth@v2
              with:
                credentials_json: '${{ secrets.GCP_SA_STORAGE_KEY }}'
            - name: 'Configurar Cloud SDK'
              uses: 'google-github-actions/setup-gcloud@v2'
              with:
                project_id: ${{env.PROJECT_ID}}
            - name: Instalar angular cli
              run: npm i -g @angular/cli
            - name: Instalar paquetes y librerias
              run: npm install
            - name: Hacer build del proyecto
              run: npm run build
            - name: Construir la imagen de docker
              run: docker build -f Dockerfile -t $IMAGE_NAME:latest .
            - name: Tag automatico de releases
              id: increment-git-tag
              run: |
                bash ./scripts/git_update.sh -v patch
            - name: Hacer push de la imagen de docker hacia Artifact Registry
              env:
                GIT_TAG: ${{steps.increment-git-tag.outputs.git-tag}}
              run: |-
                gcloud auth configure-docker
                gcloud auth configure-docker $LOCATION-docker.pkg.dev
                docker tag $IMAGE_NAME:latest $LOCATION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE_NAME:latest
                docker tag $IMAGE_NAME:latest $LOCATION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE_NAME:$GIT_TAG
                docker push $LOCATION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE_NAME:latest
                docker push $LOCATION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE_NAME:$GIT_TAG
            - name: Desplegar aplicaci贸n web en Cloud Run
              id: deploy
              run: |-
                gcloud run deploy web \
                --image=${{env.LOCATION}}-docker.pkg.dev/${{env.PROJECT_ID}}/${{env.REPOSITORY}}/${{env.IMAGE_NAME}}:latest \
                --allow-unauthenticated \
                --port=80 \
                --region=${{env.LOCATION}} \
                --project=${{env.PROJECT_ID}}